
<% if @available_flights %>
<div class="columns is-centered">
  <div class="column vcolumns">
    <% if @available_flights.empty? %>
      <p class="is-size-4"> No flight </p>
    <% else %>
      <% @available_flights.each do |flight| %>   
        <div class="grid has-background-primary">
          <div class="a center ">
            <p class="is-size-5">
              <%= flight.from_airport.name %>
            </p>
          </div>
          <div class="b center">
            <i class="fas fa-angle-double-right is-size-4"></i>
          </div>
          <div class="c center">
            <p class="is-size-5">
              <%= flight.to_airport.name %>
            </p>
          </div>
          <div class="d center">
            <p class="is-size-5">
              <%= flight.start_date.strftime("%d/%m/%Y") %>
            </p>
          </div>
          <div class="e center">
            <p class="is-size-5">
              <%= flight.start_time.strftime("%I:%M %p") %>
            </p>
          </div>
          <div class="f button center">
            <p class="is-size-5">
              <%= link_to 'Book Flight', new_booking_path(:flight_id => flight.id, :passenger_count => params[:passenger_count])%>
            </p>  
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>

