<%= form_with model: @booking, method: :post do |f| %>
  <% i=1 %>
  <%= f.hidden_field :flight_id %>
  <div class="vertical notification">
    <div>
      <h1>Passenger details</h1>
    </div>
    <%= f.fields_for :passengers do |passenger_form| %>
      <div>
        <div class="has-text-weight-bold">
          <%= "Passenger #{i}" %>
        </div>
        <div class="columns is-multiline">
          <div class="column">
            <%= passenger_form.text_field :name, placeholder: "name" %>
          </div>
          <div class="column">
            <%= passenger_form.email_field :email , placeholder: "email"%>
          </div>
        </div>
      </div>
      <% i += 1%>
    <% end %>

    <div>
      <%= f.submit %>
    </div>
  </div>
<% end %>




