<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
    <div class="notification is-primary global-notification">
      <p class="notice"><%= notice %></p>
    </div>      
  <% end %>
  <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>      
  <% end %>

  <nav class="navbar has-background-black">
      <div class="navbar-brand">
        <div class="navbar-item">
          <%= link_to root_path do %>
            <h1 class="title is-2 has-text-weight-bold has-text-white">OdinAir</h1>
          <% end %>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item has-text-weight-bold">
            <%= link_to 'FLIGHTS', root_path, class: "button" %>
          </div>

          <div class="navbar-item has-text-weight-bold">
            <%= link_to 'BOOKINGS', bookings_path, class: "button" %>
          </div>
                
        </div>
      </div>
    </nav>


    <%= yield %>
  </body>
</html>
